.header {
    color: white;
    font-family: body;
}
.header .container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem;
}
@media (min-width: 768px) {
    .header .container {
        flex-direction: row;
    }
}
.header .container .items-center {
    align-items: center;
}
.header .container .justify-between {
    justify-content: space-between;
}

.nav {
    display: right;
    flex-direction: row;
    font-size: 1rem;
}
.nav-link {
    margin-right: 1.25rem;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
    transform: scale(1.25);
}

.section {
    border-radius: 24px; /* Tailwind's 'rounded-3xl' */
    background-color: #F97316; /* Tailwind's 'bg-orange-600' */
    margin: 1rem auto; /* 'mx-auto', 'mr-5', 'ml-5', and 'm-4' combined */
    display: flex;
    padding: 6rem 1.25rem; /* 'px-5' and 'py-24' */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section .container {
    margin-left: auto;
    margin-right: auto;
}

.section h2 {
    font-size: 1.5rem; /* Tailwind's 'text-2xl' */
    font-weight: 600; /* Tailwind's 'font-semibold' */
    color: white; /* Tailwind's 'text-white' */
    text-align: center; /* Tailwind's 'text-center' */
}

.section .text-center {
    text-align: center;
    margin-top: 1.5rem; /* Tailwind's 'mt-6' */
    color: white;
}

.section p {
    margin-bottom: 1rem; /* Tailwind's 'mb-4' */
}
